body {
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(35, 44, 40);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
}

.bg_color {
  background-color: rgb(35, 44, 40);
  color: rgb(225, 225, 225);
}

button {
  color: white;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(57, 65, 61);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.css-169iwlq-MuiCalendarPicker-root {
  background-color: rgb(67, 81, 75) !important;
  color: #fff !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(225, 225, 225) !important;
}

.css-nqokmp {
  background-color: rgb(35, 44, 40) !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  background-color: rgb(67, 81, 75) !important;
}

.css-sletql:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: rgb(34, 44, 40) !important;
  color: #fff !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  width: 360px !important;
  border-radius: 10px !important;
  border: 1px solid #ccc;
}

.css-1jm66jt-MuiClockPicker-root {
  background-color: rgb(67, 81, 75) !important;
  color: #fff !important;
}

.css-qklzlb-MuiDayPicker-header {
  background-color: rgb(67, 81, 75) !important;
  color: #fff !important;
}

.css-sf5t6v-PrivatePickersSlideTransition-root-MuiDayPicker-slideTransition {
  background-color: rgb(67, 81, 75) !important;
  color: #fff !important;
}

.grid_colums {
  gap: 40px;
  grid-template-rows: minmax(min-content, max-content);
}
