body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_color {
  background-color: rgb(35, 44, 40);
  color: rgb(225, 225, 225);
}

button {
  color: white;
}


body {
  background-color: rgb(35, 44, 40);
  color: rgb(225, 225, 225);
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(57, 65, 61);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
